@page "/eventdetails/{eventId:int}"
@inject EventService EventService

@code {
    [Parameter] public int eventId { get; set; }
    private EventModel Event;

    protected override void OnInitialized()
    {
        Event = EventService.GetEventById(eventId);
    }
}

@if (Event != null)
{
    <EventCard Event="@Event" />
}
else
{
    <p>Event not found.</p>
}