@page "/registration-list"
@inject RegistrationService RegistrationService
@inject EventService EventService

<h3>Submitted registrations</h3>

@if (RegistrationService.GetRegistrations() == null)
{
    <p>No registrations found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var registration in RegistrationService.GetRegistrations())
            {
                <tr>
                    <td>@registration.Name</td>
                    <td>@registration.Email</td>
                    <td>@EventService.GetEvents()[(@registration.EventId) - 1].Name</td>
                </tr>
            }
        </tbody>
    </table>
}
